















<div class="login-wrapper">
 
    <form class="login" clrForm  [formGroup]="loginForm" (ngSubmit)="submit()">
        <section class="title">
            <h3 class="welcome">Bienvenue au</h3>
            Lexi
            <h5 class="hint">Un questionnaire intéractif accessible.</h5>
        </section>





        <div class="login-group">



         
            <clr-input-container>
                <label>Utilisateur</label>
                <input placeholder="Email de connection" clrInput type="email"  formControlName="email" name="Utilisateur" required />
                <clr-control-error *clrIfError="'required'">L'email est obligatoire</clr-control-error>
                <clr-control-error *clrIfError="'email'">L'email ne contien pas de @. </clr-control-error>
            </clr-input-container>


     
          
            <clr-input-container>
                <label>Mot de passe</label>

                <span class="label">Mot de passe</span>
                <input clrInput placeholder="Mot de passe" type="password"  formControlName="password" name="password" required />



                <clr-control-error *clrIfError="'required'">Le mots de passe est requis.</clr-control-error>
                <clr-control-error *clrIfError="'minlength'">Le mot de passe est de {{loginForm.value.password.length}} {{loginForm.value.password.length == 1 ? "caractère" : "caractères"}}. Il faut 8 characters au minimum. </clr-control-error>

            </clr-input-container>

            <div>
                <button class="btn btn-primary" type="submit">Se connecter</button>
                <br>
                <button class="btn btn-success" type="button" (click)="resetForm()">Enregistrement</button>
                <br>
                <button class="btn" type="button" (click)="resetForm()">Reset</button>
            </div>


        </div>
    </form>
</div>





<clr-modal [(clrModalOpen)]="isRegisterModalOpen">
    <h3 class="modal-title">Pour s'enregister, remplisser ce formulaire : </h3>
    <div class="modal-body">
        <p>But not much to say...</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="isRegisterModalOpen = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="isRegisterModalOpen = false">Ok</button>
    </div>
</clr-modal>
