<router-outlet (deactivate)="Refresh()"></router-outlet>

<div class="clearfix">
    <h1>Gestion des questionnaires</h1>
    <h4>Liste des catégories</h4>
    <button class="btn btn-success pull-right" [routerLink]="['creationcategorie']">Ajouter une catégorie</button>
</div>
<clr-datagrid [clrDgLoading]="isLoadingCategorie">
    <clr-dg-column></clr-dg-column>
    <clr-dg-column>Nom</clr-dg-column>
    <clr-dg-column>Matière</clr-dg-column>
    <clr-dg-column>Niveau</clr-dg-column>
    <clr-dg-column>Visibilité</clr-dg-column>
    <clr-dg-column>Créé par</clr-dg-column>

    <clr-dg-placeholder>La liste des catégories est vide. Pensez à créer une catégorie!</clr-dg-placeholder>

    <clr-dg-row *clrDgItems="let item of categorieList; let index = index"
                (click)="SetSelectedCategorieRow(item)">
        <clr-dg-cell>
            <div class="btn-group">
                <button class="btn btn-success btn-icon"><clr-icon shape="angle" style="transform: rotate(-90deg);"></clr-icon></button>
                <clr-button-group *ngIf="idMaitresse == item.idMaitresseCreatrice" class="btn-primary btn-icon">
                    <clr-button [clrInMenu]="true" (click)="OnEditCategorie(item)">Modifier</clr-button>
                    <clr-button [clrInMenu]="true" (click)="OnDeleteCategorie(item)">Supprimer</clr-button>
                </clr-button-group>
            </div>
        </clr-dg-cell>

        <clr-dg-cell>{{item.nom}}</clr-dg-cell>
        <clr-dg-cell>{{item.matiere }}</clr-dg-cell>
        <clr-dg-cell>{{item.niveau}}</clr-dg-cell>
        <clr-dg-cell>{{item.estPublic == 1 ? "Public" : "Privé"}}</clr-dg-cell>

        <clr-dg-cell *ngIf="idMaitresse != item.idMaitresseCreatrice">{{item.prenomCreatrice}} {{item.nomCreatrice}}</clr-dg-cell>
        <clr-dg-cell *ngIf="idMaitresse == item.idMaitresseCreatrice"><b>Vous-même</b></clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[10,30,50,100]">Nombre de catégorie par page</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            de {{pagination.totalItems}} {{pagination.totalItems == 1 ? "catégorie" : "catégories"}}
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>

<div *ngIf="selectedCategorieRow != null">
    <div class="clearfix">
        <h4>Liste des fiches pour la catégorie <b>{{selectedCategorieRow.nom}}</b></h4>
        <button class="btn btn-success pull-right" [routerLink]="['creationfiche']">Ajouter une fiche</button>
    </div>
    <clr-datagrid [clrDgLoading]="isLoadingFiche">
        <clr-dg-column></clr-dg-column>
        <clr-dg-column>Titre</clr-dg-column>
        <clr-dg-column>Date de création</clr-dg-column>
        <clr-dg-column>Visibilité</clr-dg-column>
        <clr-dg-column>Créé par</clr-dg-column>

        <clr-dg-placeholder>La liste des fiches est vide. Pensez à créer une fiche dans cette catégorie!</clr-dg-placeholder>

        <clr-dg-row *clrDgItems="let item of ficheList; let index = index;">
            <clr-dg-cell>
                <clr-button-group *ngIf="idMaitresse == item.idMaitresseCreatrice" class="btn-primary btn-icon">
                    <clr-button [clrInMenu]="true" (click)="OnEditFiche(item)">Modifier</clr-button>
                    <clr-button [clrInMenu]="true" (click)="OnDeleteFiche(item)">Supprimer</clr-button>
                </clr-button-group>
            </clr-dg-cell>

            <clr-dg-cell>{{item.titre}}</clr-dg-cell>
            <clr-dg-cell>{{item.dateCreation | date}}</clr-dg-cell><!-- @TODO: Bug: Fix date format for safari. -->
            <clr-dg-cell>{{item.estPublic == 1 ? "Public" : "Privé"}}</clr-dg-cell>

            <clr-dg-cell *ngIf="idMaitresse != item.idMaitresseCreatrice">{{item.prenomCreatrice}} {{item.nomCreatrice}}</clr-dg-cell>
            <clr-dg-cell *ngIf="idMaitresse == item.idMaitresseCreatrice"><b>Vous-même</b></clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
            <clr-dg-pagination #pagination [clrDgPageSize]="30">
                <clr-dg-page-size [clrPageSizeOptions]="[10,30,50,100]">Nombre de fiche par page</clr-dg-page-size>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                de {{pagination.totalItems}} {{pagination.totalItems == 1 ? "fiche" : "fiches"}}
            </clr-dg-pagination>
        </clr-dg-footer>
    </clr-datagrid>
</div>

<clr-modal [(clrModalOpen)]="isCategorieDeleteModalOpen" *ngIf="selectedCategorie != null">
    <h3 class="modal-title">Supprimer</h3>
    <div class="modal-body">
        <div class="alert alert-danger" role="alert" [hidden]="!errorServer">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <span class="alert-text">
                        Il y a eu une erreur lors de la supression. Veuillez réessayer plus tard.
                    </span>
                </div>
            </div>
        </div>
        <p>
            Voulez-vous vraiment supprimer cette catégorie ?
            <br>
            <span style="color:red">Cette action n'est pas réversible et supprimera tous les fiches et les questions associées à cette categorie?</span>
        </p>
    </div>
    <div class="modal-footer">
        <span *ngIf="isLoadingModal" class="spinner spinner-md" style="margin:3px">
            Changement...
        </span>
        <button type="button" class="btn btn-outline" (click)="isCategorieDeleteModalOpen = false">Annuler</button>
        <button type="button" class="btn btn-danger" (click)="DeleteCategorie()">Supprimer</button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="isFicheDeleteModalOpen" *ngIf="selectedFiche != null">
    <h3 class="modal-title">Supprimer</h3>
    <div class="modal-body">
        <div class="alert alert-danger" role="alert" [hidden]="!errorServer">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <span class="alert-text">
                        Il y a eu une erreur lors de la supression. Veuillez réessayer plus tard.
                    </span>
                </div>
            </div>
        </div>
        <p>
            Voulez-vous vraiment supprimer cette fiche ?
            <br>
            <span style="color:red">Cette action n'est pas réversible et supprimera tous les questions associées à cette fiche?</span>
        </p>
    </div>
    <div class="modal-footer">
        <span *ngIf="isLoadingFiche" class="spinner spinner-md" style="margin:3px">
            Changement...
        </span>
        <button type="button" class="btn btn-outline" (click)="isFicheDeleteModalOpen = false">Annuler</button>
        <button type="button" class="btn btn-danger" (click)="DeleteFiche()">Supprimer</button>
    </div>
</clr-modal>
