
<div class="main-container">
    <dashboard-navbar></dashboard-navbar>
    <dashboard-sidebar></dashboard-sidebar>
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
            <div class="alert alert-danger" role="alert" [hidden]="!errorServer">
                <div class="alert-items">
                    <div class="alert-item static">
                        <div class="alert-icon-wrapper">
                            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                        </div>
                        <span class="alert-text">
                            Il y a eu une erreur lors de la connection. Veuillez réessayer plus tard.
                        </span>
                    </div>
                </div>
            </div>
            <div *ngIf="IsShowingPortail()" class="clr-row">
                <div *ngIf="!isReady" class="center">
                    <span class="spinner spinner-lg">
                        Chargement...
                    </span>
                </div>
                <div *ngIf="isReady" class="clr-row" style="width:100%">
                    <div class="card-list" *ngFor="let item of elevesList; let index = index">
                        <a (click)="SelectEleve(item.idEleve)" class="card clickable">
                            <div class="card-header">
                                {{item.prenom }} {{item.nom}}
                            </div>
                            <div class="card-img">
                                <img [src]="item.avatar">
                            </div>
                            <div class="card-block">
                                <div class="btn btn-primary center">Choisir cette utilisateur</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
