
<clr-modal [(clrModalOpen)]="isCreationModalOpen" [clrModalClosable]="false">
    <h3 class="modal-title">Assignation de fiche a un élève.</h3>
    <div class="modal-body">
        <div class="alert alert-danger" role="alert" [hidden]="!errorServer">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <span class="alert-text">
                        Il y a eu une erreur lors de l'assignation. Veuillez réessayer plus tard.
                    </span>
                </div>
            </div>
        </div>



        <clr-datagrid [(clrDgSelected)]="selectedFiche" [clrDgRowSelection]="true">

            <clr-dg-column>Titre</clr-dg-column>
            <clr-dg-column>Date de création</clr-dg-column>
            <clr-dg-column>Nom de maitressse</clr-dg-column>
            


            <clr-dg-row *clrDgItems="let item of ficheList; let index = index" [clrDgItem]="item">
                <clr-dg-cell>{{item.titre}} <clr-icon shape="tasks" class="has-alert is-solid"></clr-icon></clr-dg-cell>
                <clr-dg-cell>{{item.dateCreation | date}}</clr-dg-cell>
                <clr-dg-cell>{{item.prenom}} {{item.nom}}</clr-dg-cell>
            </clr-dg-row>


            <clr-dg-footer>{{selectedFiche.length}} Fiches</clr-dg-footer>
        </clr-datagrid>




    </div>
    <div class="modal-footer">
        <span *ngIf="isLoadingModal" class="spinner spinner-md" style="margin:3px">
            Changement...
        </span>
        <button type="button" class="btn btn-primary" (click)="Close()">Annuler</button>
        <button type="button" class="btn btn-success" (click)="ajouterList()">Ajouter</button>
    </div>
</clr-modal>
   
