
<clr-modal [(clrModalOpen)]="isCreationModalOpen" [clrModalClosable]="false" [clrModalSize]="'xl'">
    <h3 class="modal-title">Assignation de fiche à un élève.</h3>
    <div class="modal-body">
        <div class="alert alert-danger" role="alert" [hidden]="!errorServer">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <span class="alert-text">
                        Il y a eu une erreur lors de l'assignation. Veuillez réessayer plus tard.
                    </span>
                </div>
            </div>
        </div>
        <clr-datagrid [clrDgLoading]="isLoadingCategorie">
            <clr-dg-column>Nom</clr-dg-column>
            <clr-dg-column>Matière</clr-dg-column>
            <clr-dg-column>Niveau</clr-dg-column>
            <clr-dg-column>Visibilité</clr-dg-column>
            <clr-dg-column>Créé par</clr-dg-column>

            <clr-dg-placeholder>La liste des catégories est vide. Pensez à créer une catégorie!</clr-dg-placeholder>

            <clr-dg-row *clrDgItems="let item of categorieList; let index = index"
                        (click)="SetSelectedCategorieRow(item)">
                <clr-dg-cell>{{item.nom}}</clr-dg-cell>
                <clr-dg-cell>{{item.matiere }}</clr-dg-cell>
                <clr-dg-cell>{{item.niveau}}</clr-dg-cell>
                <clr-dg-cell>{{item.estPublic == 1 ? "Public" : "Privé"}}</clr-dg-cell>

                <clr-dg-cell *ngIf="idMaitresse != item.idMaitresseCreatrice">{{item.prenomCreatrice}} {{item.nomCreatrice}}</clr-dg-cell>
                <clr-dg-cell *ngIf="idMaitresse == item.idMaitresseCreatrice"><b>Vous-même</b></clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>
                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                    <clr-dg-page-size [clrPageSizeOptions]="[10,30,50,100]">Nombre de catégorie par page</clr-dg-page-size>
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                    de {{pagination.totalItems}} {{pagination.totalItems == 1 ? "catégorie" : "catégories"}}
                </clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
        <div *ngIf="selectedCategorieRow != null">
            <div class="clearfix">
                <h4>Liste des fiches de la catégorie <b>{{selectedCategorieRow.nom}}</b></h4>
            </div>
            <clr-datagrid [clrDgLoading]="isLoadingCategorie" [(clrDgSelected)]="selectedFicheList" [clrDgRowSelection]="true">
                <clr-dg-column>Titre</clr-dg-column>
                <clr-dg-column>Date de création</clr-dg-column>
                <clr-dg-column>Nom de maitressse</clr-dg-column>

                <clr-dg-row *clrDgItems="let item of ficheList; let index = index" [clrDgItem]="item">
                    <clr-dg-cell>{{item.titre}}</clr-dg-cell>
                    <clr-dg-cell>{{item.dateCreation | date}}</clr-dg-cell>
                    <clr-dg-cell>{{item.prenomCreatrice}} {{item.nomCreatrice}}</clr-dg-cell>
                </clr-dg-row>
                <clr-dg-footer>
                    <clr-dg-pagination #pagination [clrDgPageSize]="10">
                        <clr-dg-page-size [clrPageSizeOptions]="[10,30,50,100]">Nombre de catégorie par page</clr-dg-page-size>
                        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                        de {{pagination.totalItems}} {{pagination.totalItems == 1 ? "fiche" : "fiches"}}
                    </clr-dg-pagination>
                </clr-dg-footer>
            </clr-datagrid>
        </div>
    </div>
    <div class="modal-footer">
        <span *ngIf="isLoadingModal" class="spinner spinner-md" style="margin:3px">
            Changement...
        </span>
        <span *ngIf="isLoadingModal">
            {{selectedGlobalList.length}} {{selectedGlobalList.length == 1 ? "fiche" : "fiches"}} à compléter
        </span>
        <button type="button" class="btn btn-primary" (click)="Close()">Annuler</button>
        <button type="button" class="btn btn-success" (click)="SendList()">Sauvegarder</button>
    </div>
</clr-modal>
