<clr-datagrid [clrDgLoading]="isLoading">
    <clr-dg-column>Titre</clr-dg-column>
    <clr-dg-column>Nom de fiche</clr-dg-column>
    <clr-dg-column>Date de complétion</clr-dg-column>
    <clr-dg-column>Matière</clr-dg-column>
    <clr-dg-column>Niveau</clr-dg-column>
    <clr-dg-column>Nombre de tentatives</clr-dg-column>
    <clr-dg-column>Erreur maximum</clr-dg-column>
    <clr-dg-column>Erreur minimum</clr-dg-column>

    <clr-dg-placeholder>La liste des historiques est vide.</clr-dg-placeholder>

    <clr-dg-row *clrDgItems="let item of historiqueList">

        <clr-dg-cell>{{item.titre}}</clr-dg-cell>
        <clr-dg-cell>{{item.nom}}</clr-dg-cell>
        <clr-dg-cell>{{item.date}}</clr-dg-cell>
        <clr-dg-cell>{{item.matiere}}</clr-dg-cell>
        <clr-dg-cell>{{item.niveau}}</clr-dg-cell>
        <clr-dg-cell>{{item.nombreTentative}}</clr-dg-cell>
        <clr-dg-cell>{{item.erreurMax}}</clr-dg-cell>
        <clr-dg-cell>{{item.erreurMin}}</clr-dg-cell>
        
    </clr-dg-row>
    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="30">
            <clr-dg-page-size [clrPageSizeOptions]="[10,30,50,100]">Éléments par page</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            de {{pagination.totalItems}} {{pagination.totalItems == 1 ? "historique" : "historiques"}}
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>
