
<clr-datagrid [clrDgLoading]="isLoading">
    <clr-dg-column>Titre</clr-dg-column>
    <clr-dg-column>nom</clr-dg-column>
    <clr-dg-column>Nom de complétion</clr-dg-column>
    <clr-dg-column>matiere</clr-dg-column>
    <clr-dg-column>niveau</clr-dg-column>
    <clr-dg-column>nombreTentative</clr-dg-column>
    <clr-dg-column>Erreur Maximum</clr-dg-column>
    <clr-dg-column>Erreur Minimum</clr-dg-column>

    <clr-dg-placeholder>La liste d'historique est vide.</clr-dg-placeholder>

    <clr-dg-row *clrDgItems="let item of historiqueList; let index = index">

        <clr-dg-column>{{item.titre}}</clr-dg-column>
        <clr-dg-column>{{item.nom}}</clr-dg-column>
        <clr-dg-column>{{item.date}}</clr-dg-column>
        <clr-dg-column>{{item.matiere}}</clr-dg-column>
        <clr-dg-column>{{item.niveau}}</clr-dg-column>
        <clr-dg-column>{{item.nombreTentative}}</clr-dg-column>
        <clr-dg-column>{{item.erreurMax}}</clr-dg-column>
        <clr-dg-column>{{item.erreurMin}}</clr-dg-column>
    </clr-dg-row>
    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="50">
            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Élèves par page</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            de {{pagination.totalItems}} {{pagination.totalItems == 1 ? "historique" : "historiques"}}
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>
