/* You can add global styles to this file, and also import other style files */




.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

a.label:hover,
a.label:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.label:empty {
    display: none;
}

.btn .label {
    position: relative;
    top: -1px;
}

.label-default {
    background-color: #777777;
}

    .label-default[href]:hover,
    .label-default[href]:focus {
        background-color: #5e5e5e;
    }

.label-primary {
    background-color: #337ab7;
}

    .label-primary[href]:hover,
    .label-primary[href]:focus {
        background-color: #286090;
    }

.label-success {
    background-color: #5cb85c;
}

    .label-success[href]:hover,
    .label-success[href]:focus {
        background-color: #449d44;
    }

.label-info {
    background-color: #5bc0de;
}

    .label-info[href]:hover,
    .label-info[href]:focus {
        background-color: #31b0d5;
    }

.label-warning {
    background-color: #f0ad4e;
}

    .label-warning[href]:hover,
    .label-warning[href]:focus {
        background-color: #ec971f;
    }

.label-danger {
    background-color: #d9534f;
}

    .label-danger[href]:hover,
    .label-danger[href]:focus {
        background-color: #c9302c;
    }

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.hidden {
    display: none !important;
}

.affix {
    position: fixed;
}
