<header class="header header-3">
    <div class="branding">
        <a [routerLink]="['../tableaudebord']" class="nav-link">
            <clr-icon shape="bullet-list"></clr-icon>
            <span class="title">Lexi</span>
        </a>
    </div>
    <div class="header-nav">
        <a *ngIf="isAdmin && !eleveConnected" (click)="GoToTableauDeBord()" class="nav-link active"><span class="nav-text">Tableau de bord</span></a>
        <a *ngIf="isAdmin && !eleveConnected" (click)="GoToElevePortail()" class="nav-link"><span class="nav-text">Portail des élèves</span></a>

        <a *ngIf="!isAdmin && !eleveConnected" (click)="GoToTableauDeBord()" class="nav-link"><span class="nav-text">Tableau de bord</span></a>
        <a *ngIf="!isAdmin && !eleveConnected" (click)="GoToElevePortail()" class="nav-link active"><span class="nav-text">Portail des élèves</span></a>

        <a *ngIf="eleveConnected" (click)="GoToElevePortail()" class="nav-link"><span class="nav-text">Quitter la session</span></a>
    </div>
    <div class="header-actions">
        <clr-dropdown *ngIf="!eleveConnected">
            <button class="nav-text" clrDropdownTrigger>
                {{name}}
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <a (click)="ShowProfile()" clrDropdownItem>Profil</a>
                <a (click)="Logout()" clrDropdownItem>Se Déconnecter</a>
            </clr-dropdown-menu>
        </clr-dropdown>
        <a *ngIf="eleveConnected" class="nav-link">
            <span class="nav-text">{{name}}</span>
        </a>
    </div>
</header>





<clr-modal [(clrModalOpen)]="showLoginModal">
    <h3 class="modal-title">Reconnection en tant que maitresse</h3>
    <div class="modal-body">
        <div class="alert alert-danger" role="alert" [hidden]="!errorLogin">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <span class="alert-text">
                        Le mot de passe ou le email est éronné.
                    </span>
                </div>
            </div>
        </div>
        <div class="alert alert-danger" role="alert" [hidden]="!errorServer">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <span class="alert-text">
                        Il y a eu une erreur lors de la connection. Veuillez réessayer plus tard.
                    </span>
                </div>
            </div>
        </div>
        <span>Veuiller entrer le mot de passe de <b>{{name}}</b> pour continuer.</span>
        <clr-input-container>
            <span class="label">Mot de passe</span>
            <input clrInput placeholder="Mot de passe" type="password" [(ngModel)]="loginPassword" name="motdepasse" autocomplete="off" />
        </clr-input-container>
        <br />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="showLoginModal = false">Annuler</button>
        <button type="button" class="btn btn-primary" (click)="SubmitAdminMode()">Continuer</button>
    </div>
</clr-modal>









<!-- -- Edit profile Form -- -->
<clr-modal [(clrModalOpen)]="isEditModalOpen">
    <h3 class="modal-title">Modification du profile</h3>
    <div class="modal-body">

        <div class="alert alert-danger" role="alert" [hidden]="!errorServer">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <span class="alert-text">
                        Il y a eu une erreur lors de la connection. Veuillez réessayer plus tard.
                    </span>
                </div>
            </div>
        </div>

       

            <clr-input-container>
                <label>Entrer le mot de passe actuel</label>

                <input clrInput placeholder="Mot de passe" type="password" [(ngModel)]="motdepasse" name="motdepasse" required />
            </clr-input-container>



            <clr-input-container>
                <label>Nouveau mot de passe</label>
                <input clrInput placeholder="Répété le mot de passe" type="password" [(ngModel)]="confirmationmotdepasse" name="confirmationmotdepasse" required />

             </clr-input-container>


            <clr-input-container>
                <label>Prénom</label>
                <input placeholder="Prénom" clrInput type="text" [(ngModel)]="prenom" name="Prénom" required />
            </clr-input-container>


            <clr-input-container>
                <label>Nom</label>
                <input placeholder="Nom" clrInput type="text" [(ngModel)]="nom" name="Nom" required />
            </clr-input-container>



      
        <br />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" (click)="isEditModalOpen = false">Annuler</button>
        <button type="submit" class="btn btn-success" (click)="SubmitEdit()">Modifier</button>
    </div>
</clr-modal>
