<div class="card">
    <div class="card-header">
        <span class="badge badge-warning biggerBadge pull-left">{{curseurID}}</span>
        <div class="innerContent" [innerHTML]="question | safeHTMLStyle"></div>
    </div>
    <div *ngIf="answers.length != 0" class="card-block">
        <div class="card-header" *ngFor="let answer of answers; let index = index">
            <span  class="badge badge-info biggerBadge pull-left">{{index + 1}}</span>
            <div class="innerContent" [innerHTML]="answer | safeHTMLStyle"></div>
        </div>
    </div>
    <div class="card-footer">
        <div [attr.id]="'picker' + curseurID">
            <div [attr.id]="'pickerNumber' + curseurID" class="ui-slider-handle custom-handle"></div>
        </div>
    </div>
</div>
